:root {
  --primary-color: rgb(230, 31, 38);
  --secondary-color: #599fd4;
  --white-color: #ffffff;
  --black-color: #171717;
  --text-color: #333333;
  --background-color: #f6f6f6;
  --font-size-base: 16px;
  --font-family: "Segoe UI", sans-serif;
}
